// 这里存放全局变量和通用样式
$a0: 0px;
$a1: 4px;
$a2: 8px;
$a3: 16px;
$a4: 24px;
$a5: 32px;
$a6: 40px;
$r0: 0px;
$r1: 2px;
$r2: 4px;
$r3: 6px;
$r4: 8px;
$r4: 12px;
$r5: 16px;
$r6: 24px;
$line: 1px;
$input-width: 300px;
$input-height: 50px;
$btn-width: 300px;
$btn-height: 60px;

$c-white: #fff;
$c-black: #000;
$c-grey: #f7f7f8;
$c-red: #f33;

$c-main: #5278f8;
$c-main-light: mix($c-main, #fff, 65%);
$c-error: #f33;
$ct-main: #24292e;
$ct-title-unselected: #969fad;
$ct-area: #24292e;
$ct-gay: #888;
$background: linear-gradient(70deg, $c-main, $c-main-light);

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-space {
  display: flex;
  flex: 1;
}

.col {
  @extend .flex;
  flex-direction: column;
}

.row {
  @extend .flex;
  flex-direction: row;
}

.center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.full {
  display: block;
  position: relative;
  bottom: 0;
  top:0;
  left:0;
  right:0;
}

.gpu {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
